<div class='container px-5 px-sm-0'>
  <header class="mx-auto text-center bg-dark text-white">
    <h1><span>マイページor同志</span>+<span>ユーザー削除</span></h1>
  </header>

  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <h2>ヘッダーメニュー</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
      <p>好物</p>
      <p><%= @user.preference %></p>

      <p>苦手</p>
      <p><%= @user.weak %></p>

      <p>ネタ数：〇</p>

      <p>同志一覧</p>

      <p>ネタ一覧</p>
    </div>
  </div>
</div>