<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <p>マイページ＝currentユーザーのshow</p>
      <p>ネタ出し＝ideaのnew</p>
      <p>仲間たち＝ユーザーのindex</p>
      <p>ネタ編集＝ideaのeditで本のタイトルと本文も加筆</p>
    </div>
  </div>
</div>