<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h1>私の頭の中のネタ帳(仮)</h1>
      <p>ネタを溜める</p>
      <p>キーワード・タグ的なのを付ける</p>
      <p>タグや性癖が似てる人をフォローする</p>
      <p>ネタを小話にする</p>
    </div>
  </div>
</div>